@import "tailwindcss";

@theme {
  
  /* colors */
  --color-ipod-blue: #02ABD6;
  --color-ipod-gray: #E7E9E8;
  --color-ipod-pink: #D7499B;
  --color-ipod-green: #AFD157;
  --color-ipod-black: #0E2632;
  --color-ipod-blue-border: #218499;
  --color-wheel-text: #B3B8BB;
  --color-select: #2299D7;
  --color-screen: #EAF7FF;
  --color-screen-border: #515A65;

  /* fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}

html,
body {
  @apply bg-white;
}

.screen-class {
  position: relative;
  overflow: hidden;
}

/* .screen-class::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
	opacity: 0.7;
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.927) 0%, rgba(43, 185, 232, 0.3) 20%, transparent 50%);
  /* position based on mouse coordinates */
  /* left: var(--mouse-x, 0);
  top: var(--mouse-y, 0); */
  /* transform: translate3d(calc(var(--mouse-x) - 50%), calc(var(--mouse-y) - 50%), 0%); take mouse x/y val and subtract 50 */
  /* transform: translate3d(var(--mouse-x), var(--mouse-y), 0%); /*take mouse x/y val and subtract 50*/
  /* pointer-events: none;
  /* transition: left 0.1s ease-out, top 0.1s ease-out; */
  /*transition: transform 100ms ease-out;
} */

.screen-overlay {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 150%;
  height: 150%;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.927), rgba(0, 139, 186, 0.3), rgba(255, 255, 255, 0.927), transparent 50%);
  transition: transform 200ms ease-out;
}

.battery-border-gradient {
  border: 2x solid;
  border-image-slice: 1;
  border-width: 1px;
}
.battery-border-gradient-slate {
  border-image-source: linear-gradient(to bottom, #475569, #5e6b7e, #768294, #8f9aab, #a8b3c2, #a8b3c2, #a8b3c2, #a8b3c2, #8f9aab, #768294, #5e6b7e, #475569);;
}
.battery-gradient {
  background-image: linear-gradient(to bottom, #65a30d, #75b122, #86c033, #96cf42, #a7de51, #a7de51, #a7de51, #a7de51, #96cf42, #86c033, #75b122, #65a30d);
}