@import "tailwindcss";

@theme {
  
  /* colors */
  --color-ipod-blue: #02ABD6;
  --color-ipod-gray: #E7E9E8;
  --color-ipod-pink: #D7499B;
  --color-ipod-green: #AFD157;
  --color-ipod-black: #0E2632;
  --color-ipod-blue-border: #218499;
  --color-wheel-text: #B3B8BB;
  --color-select: #2299D7;
  --color-screen: #EAF7FF;
  --color-screen-border: #515A65;

  /* fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}

html,
body {
  @apply bg-white;
}

.ipod-scene {
  perspective: 500px;
}

.ipod {
  width: 305px;
  height: 690px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}

.ipod-body {
  position: absolute;
  background-color: var(--color-ipod-blue);
  border-radius: 6px;
}

.ipod-body-front,
.ipod-body-back {
  width: 305px;
  height: 690px;
}

.ipod-body-left,
.ipod-body-right {
  width: 50px;
  height: 690px;
  left: 127.5px; /* (width - 50) / 2 */
}

.ipod-body-top {
  width: 305px;
  height: 50px;
  top: 320px; /* (height - 50px) / 2 */
}

.ipod-body-bottom {
  width: 305px;
  height: 50px;
  top: 320px;
}


.ipod-body-front  { transform: rotateY(0deg) translateZ( 25px); } /* translateZ = depth(l/r side width)/2 */
.ipod-body-back   { transform: rotateY(180deg) translateZ( 25px); }

.ipod-body-right  { transform: rotateY( 90deg) translateZ(152.5px); } /* translateY = width/2 */
.ipod-body-left   { transform: rotateY(-90deg) translateZ(152.5px); }

.ipod-body-top   { transform: rotateX( 90deg) translateZ(345px); } /* translateZ = height/2 */
.ipod-body-bottom { transform: rotateX(-90deg) translateZ(345px); }

/* translatez and rotate values are the opposites of their corresponding face - reverse face transform*/
.ipod.show-front { transform: translateZ( -50px) rotateY(0deg); }
.ipod.show-back { transform: translateZ(-50px) rotateY(-180deg); }
.ipod.show-right { transform: translateZ(-152.5px) rotateY(-90deg); }
.ipod.show-left { transform: translateZ(-152.5px) rotateY(90deg); }
.ipod.show-top { transform: translateZ(-345px) rotateX(-90deg); }
.ipod.show-bottom { transform: translateZ(-345px) rotateX(90deg); }

.screen-class {
  position: relative;
  overflow: hidden;
}

.screen-overlay {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.927) 0%, rgba(43, 185, 232, 0.5) 20%, rgba(255, 255, 255, 0.927) 0%, rgba(43, 185, 232, 0.5) 20%, transparent 50%);
  transition: transform 200ms ease-out;
  filter: brightness(.85) contrast(2.75) saturate(.65);
  opacity: 50%;
}

.battery-border-gradient {
  border: 2x solid;
  border-image-slice: 1;
  border-width: 1px;
}
.battery-border-gradient-slate {
  border-image-source: linear-gradient(to bottom, #475569, #5e6b7e, #768294, #8f9aab, #a8b3c2, #a8b3c2, #a8b3c2, #a8b3c2, #8f9aab, #768294, #5e6b7e, #475569);;
}
.battery-gradient {
  background-image: linear-gradient(to bottom, #65a30d, #75b122, #86c033, #96cf42, #a7de51, #a7de51, #a7de51, #a7de51, #96cf42, #86c033, #75b122, #65a30d);
}
