@import "tailwindcss";

@theme {
  
  /* colors */
  --color-ipod-blue: #02ABD6;
  --color-ipod-gray: #E7E9E8;
  --color-ipod-pink: #D7499B;
  --color-ipod-green: #AFD157;
  --color-ipod-black: #0E2632;
  --color-ipod-blue-border: #218499;
  --color-wheel-text: #B3B8BB;
  --color-select: #2299D7;
  --color-screen: #EAF7FF;
  --color-screen-border: #515A65;

  /* fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* shading */
  --color-ipod-blue-light: #4FC3E8;
  --color-ipod-blue-dark: #016A86;
  --color-ipod-blue-shadow: #014B5F;

  --color-screen: #EAF7FF;
  --color-screen-dark: #bcc7cf;
  --color-screen-light: #f0f6fa;

  --highlight-opacity: 0.3;
  --shadow-opacity: 0.4;
}

html,
body {
  @apply bg-white;
}

/* ---- IPOD ---- */

.ipod-scene {
  perspective: 500px;
}

.ipod {
  width: 305px;
  height: 690px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}

.ipod-body {
  position: absolute;
  background-color: var(--color-ipod-blue);
  border-radius: 6px;
  box-shadow: 
    inset 0 1px 2px rgba(255,255,255, var(--highlight-opacity)),  /* top edge */
    inset 0 -1px 2px rgba(0,0,0, var(--shadow-opacity));          /* bottom edge */
}

.ipod-body-front,
.ipod-body-back {
  width: 305px;
  height: 690px;
}

.ipod-body-left,
.ipod-body-right {
  width: 50px;
  height: 690px;
  left: 127.5px; /* (width - 50) / 2 */
}

.ipod-body-top {
  width: 305px;
  height: 50px;
  top: 320px; /* (height - 50px) / 2 */
}

.ipod-body-bottom {
  width: 305px;
  height: 50px;
  top: 320px;
}


.ipod-body-front  { transform: rotateY(0deg) translateZ( 25px); } /* translateZ = depth(l/r side width)/2 */
.ipod-body-back   { transform: rotateY(180deg) translateZ( 25px); }

.ipod-body-right  { transform: rotateY( 90deg) translateZ(152.5px); } /* translateY = width/2 */
.ipod-body-left   { transform: rotateY(-90deg) translateZ(152.5px); }

.ipod-body-top   { transform: rotateX( 90deg) translateZ(345px); } /* translateZ = height/2 */
.ipod-body-bottom { transform: rotateX(-90deg) translateZ(345px); }

/* translateZ and rotate values are the opposites of their corresponding face - reverse face transform*/
.ipod.show-front { transform: translateZ( -50px) rotateY(0deg); }
.ipod.show-back { transform: translateZ(-50px) rotateY(-180deg); }
.ipod.show-right { transform: translateZ(-152.5px) rotateY(-90deg); }
.ipod.show-left { transform: translateZ(-152.5px) rotateY(90deg); }
.ipod.show-top { transform: translateZ(-345px) rotateX(-90deg); }
.ipod.show-bottom { transform: translateZ(-345px) rotateX(90deg); }

/* shading */
.ipod-body-front {
  background: 
    radial-gradient(ellipse 50% 20% at 50% 70%, var(--color-ipod-blue-light), transparent 60%),
    linear-gradient(90deg, var(--color-ipod-blue-light) 0%, transparent 2%, transparent 95%, var(--color-ipod-blue-light) 98%, var(--color-ipod-blue-dark) 100% ),
    linear-gradient(270deg, var(--color-ipod-blue-light) 0%, transparent 5%, transparent 90%, var(--color-ipod-blue-light) 96%, var(--color-ipod-blue-dark) 100%),
    var(--color-ipod-blue);
}

/* ---- SCREEN ---- */

.screen-class {
  position: relative;
  overflow: hidden;
  background: 
    linear-gradient(90deg, var(--color-screen-light) 0%, var(--color-screen) 95%, var(--color-screen-light) 98%, var(--color-screen-dark) 100% ),
    var(--color-screen);
}

.screen-overlay {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.927) 10%, rgba(43, 185, 232, 0.5) 20%, rgba(255, 255, 255, 0.927) 30%,  transparent 40%, rgba(43, 185, 232, 0.5) 60%, rgba(255, 255, 255, 0.927) 70%, transparent 100%);
  transition: transform 200ms ease-out;
  filter: brightness(.85) contrast(2.5) saturate(.65);
  opacity: 30%;
  pointer-events: none;
}

/* ---- BATTERY ---- */

.battery-border-gradient {
  border: 2x solid;
  border-image-slice: 1;
  border-width: 1px;
}
.battery-border-gradient-slate {
  border-image-source: linear-gradient(to bottom, #475569, #5e6b7e, #768294, #8f9aab, #a8b3c2, #a8b3c2, #a8b3c2, #a8b3c2, #8f9aab, #768294, #5e6b7e, #475569);;
}
.battery-gradient {
  background-image: linear-gradient(to bottom, #65a30d, #75b122, #86c033, #96cf42, #a7de51, #a7de51, #a7de51, #a7de51, #96cf42, #86c033, #75b122, #65a30d);
}
